<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mafia | Creators</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS LINK -->
    <!-- <link rel="stylesheet" href="creator.css" type="text/CSS" > -->
     <style>
        @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            cursor: url(./image/cursor.png), auto;
            font-family: 'Cinzel Decorative', cursive;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            
        }

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-image: url(./image/carbg.jpg);
            background-size: cover;

        }

        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;  
            z-index: -100;
        }

        .nav{
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 100px;
            line-height: 100px;
            z-index: 100;
        }
        .nav-logo p{
            color: white;
            font-size: 25px;
            font-weight: 600;
        }
        .nav-menu ul{
            display: flex;
        }
        .nav-menu ul li{
            list-style-type: none;
        }
        .nav-menu ul li .link{
            text-decoration: none;
            font-weight: 500;
            color: #fff;
            padding-bottom: 10px;
            margin: 0 25px;
        }
        .link:hover, .active{
            border-bottom: 2px solid #fff;
        }
        .nav-button .btn{
            width: 130px;
            height: 40px;
            font-weight: 500;
            background: rgba(255, 255, 255, 0.4);
            border: none;
            border-radius: 30px;
            cursor: pointer;
            transition: .3s ease;
        }
        .btn:hover{
            background: rgba(255, 255, 255, 0.3);
        }

        .return{
            position: absolute;
            top: 15px;
            left: 20px;
            text-decoration: none;
            list-style: none;
            
        }
        .return a{
            display: block;
            padding: 12px;
            font-size: 15px;
            color: #fff;
            background: #ffffff0e;
            border-radius: 30px;
            transition: all .55s ease;
        }

        .return a:hover{
            background: #fff;
            transform: translateY(-5px);
        }

        .creators{
            align-self: center;
            text-align: center;
            justify-content: center;
            
        }

        .creators h1{
            font-size: 45px;
            color: #fff;
        }

        .creators h3{
            color: #fff;
        }

        .creators a
        {
            color: #fff;
            transition: 0.33s ease;
        }


        .creators a:hover
        {
            color: #ffffff7c;
        }

        .container{
            display: contents;
            grid-template-columns: repeat(2, 1fr);

        }

        .card{
            position: relative;
            width: 400px;
            height: 240px;
            margin:70px;
            background: rgba(72, 72, 72, 0.788);
            border-radius: 9px;
            box-shadow: 0 35px 80px rgba(0,0,0, .5);
            transition: all .5s ease;
            font-family: 'Poppins', sans-serif;

        }

        #myVideo{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }


        .card:hover{
            height: 440px;
        }

        .img-box{
            position: absolute;
            left: 50%;
            top: -50px;
            transform: translateX(-50%);
            width: 150px;
            height: 150px;
            background-color: #000;
            border-radius: 9px;
            box-shadow: 0 15px 50px rgba(0,0,0, .35);
            overflow: hidden;
            transition: 0.5s ease;
        }

        .card:hover .img-box
        {
            width: 180px;
            height: 180px;
        }

        .img-box img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card .content{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
        }

        .card .content .details{
            padding: 40px;
            text-align: center;
            width: 100%;
            transition: 0.5s;
            transform: translateY(150px);
        }

        .card:hover .content .details
        {
            transform: translateY(0px);
        }


        .card .content .details h2{
            font-size: 1.1em;
            font-weight: 600;
            color: #f8f8f8;
            line-height: 1.2em;
        }

        .card .content .details h2 span{
            font-size: 0.75em;
            font-weight: 500;
            opacity: 0.5;
        }

        .card .content .details .data
        {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }

        .card .content .details .data h3{
            font-size: 1em;
            color: #ffffff;
        }

        .card .content .details .data h3 span{
            font-size: 0.85em;
            font-weight: 400;
            opacity: 0.5;
        }

        .card .content .details .actionBtn
        {
            display: flex;
            justify-content: space-between;
            /* gap: 20px; */
        }

        .card .content .details .actionBtn a{
            padding: 10px 30px;
            border-radius: 4px;
            border: none;
            outline: none;
            font-size: 1em;
            font-weight: 500;
            color: #fff;
            background: #0c1230d5;
            transition: all 0.5s ease;
        }

        .card .content .details .actionBtn a:hover{
            background: #223490d5;
        }

        .card .content .details .actionBtn a:nth-child(2)
        {
            border: 1px solid #999;
            background: #ffffffd7;
            color:#999;
        }

        .card .content .details .actionBtn a:nth-child(2):hover
        {
            background: #252525d7;
            color:#e5e5e5;
        }

        @keyframes slideIn {
            from {
                transform: translateX(100%);
                opacity: 0;
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slideOut {
            from {
                transform: translateX(0);
                opacity: 1;
            }
            to {
                transform: translateX(100%);
                opacity: 0;
            }
        }

        .alert {
            top: 122px;
            right: 30px;
            text-align: center;
            padding: 15px;
            width: fit-content;
            background-color: #6375ffb5;
            color: white;
            border-radius: 5px;
            z-index: 2;
            padding: 20px;
            position: fixed;
            right: 20px;
            animation: slideIn 0.5s forwards, slideOut 0.5s 4.5s forwards; /* Slide in and out */
        }

        .alert.success {
            background-color: #4CAF50;
        }
     </style>


<style>
.notifications {
    position: fixed;
    top: 100px;
    right: 5px;
    z-index: 101;
}

.toast {
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: linear-gradient(to right, #0abf3055, #22242f 30%);
    animation: show 0.3s ease 1 forwards;
}

.toast i {
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.toast .title {
    font-size: x-large;
    font-weight: bold;
}

.toast span, .toast i:nth-child(3) {
    color: #fff;
    opacity: 0.6;
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.toast::before {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards;
}

@keyframes timeOut {
    to {
        width: 0;
    }
}

.toast.error {
    --color: #f24d4c;
    background-image: linear-gradient(to right, #f24d4c55, #22242F 30%);
}

.toast.warning {
    --color: #e9bd0c;
    background-image: linear-gradient(to right, #e9bd0c55, #22242F 30%);
}

.toast.info {
    --color: #3498db;
    background-image: linear-gradient(to right, #3498db55, #22242F 30%);
}


</style>


    <!--Remix icon Link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <!-- video src -->
    <video autoplay muted loop id="myVideo">
        <source src="video/bgvideo.mp4" type="video/mp4">
    </video>

    <div class="notifications"></div>
    {{#if successMessage}}

    {{/if}}

    {{#if errorMessage}}

    {{/if}}

    <header class="nav">
        <div class="nav-logo">
            <p>Mafia</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="/" class="link" onmousedown="audio.play();">Home</a></li>
                <li><a href="./login" class="link" onmousedown="audio.play();">Services</a></li>
                <li><a href="#" class="link active" onmousedown="error.play();" >Creators</a></li>
                <li><a href="./about" class="link" onmousedown="audio.play();">About</a></li>
            </ul>
        </div>
    </header>


    <div class="creators">
        <h3>Mafia</h3>
        <h1>WMC'24</h1>
        <a href="/">Visit Us <i class="ri-links-fill"></i></i></a>        
    </div>

    <div class="container">

        <!-- DEEPAYU NINAMA : INFO -->
        <div class="card">

            <!-- IMAGE -->
            <div class="img-box">
                <img src="./image/Deepayu.jpg">
            </div>

            <!-- CONTENT -->
            <div class="content">
                <div class="details">

                    <h2> Deepayu Ninama<br> <span>Aka MerCi Los Santos's Mafia <p>Devloped and contributed in building this website with Frontend skills. Expert HTML CSS JavaScript coder with strong base in Graphics</h2>
                    
                    <div class="data">
                        <h3>1.73k<br><span>Subs</h3>
                        <h3>3 yrs+<br><span>Experience</h3>
                        <h3>+12 CS<br><span>Projects</h3>
                    </div>

                    

                    <div class="actionBtn">
                        <a href="https://github.com/DeepayuNinama">Git <i class="ri-github-fill"></i></a>
                        <a href="https://www.linkedin.com/in/deepayu-ninama-2516451a5/">Linkedin <i class="ri-linkedin-fill"></i></a>
                    </div>

                </div>
            </div>
        </div>

        <!-- RENI MODIYA : INFO -->

        <div class="card">

            <!-- IMAGE -->
            <div class="img-box">
                <img src="./image/Reni.jpg">
            </div>

            <!-- CONTENT -->
            <div class="content">
                <div class="details">

                    <h2>Reni Modiya<br> <span>Right hand Los Santos Mafia <p> developed and contributed to backend systems for seamless website functionality and have a knowledge of UX in website design.</h2>
                    
                    <div class="data">
                        <!-- <h3>323<br><span>Posts</h3> -->
                        <h3>1 yr+<br><span>Experience</h3>
                        <h3>2+<br><span>Projects</h3>
                        <h3>9+<br><span>Linkedin</h3>
                    </div>

                    <div class="actionBtn">
                        <a href="https://github.com/ReniModiya" >Git <i class="ri-github-fill"></i></a>
                        <a href="https://www.linkedin.com/in/reni-modiya-3b6a7a248/">Linkedin <i class="ri-linkedin-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var audio = new Audio();
        audio.src='audio/click.mp3';
        var error = new Audio();
        error.src = 'audio/error.mp3';
    </script>


            <script>
            document.addEventListener("DOMContentLoaded", function() {
                const notifications = document.querySelector('.notifications');
                const successMessage = "{{successMessage}}";    
                const errorMessage = "{{errorMessage}}";

                function createToast(type, icon, title, text) {
                    let newToast = document.createElement('div');
                    newToast.innerHTML = `
                        <div class="toast ${type}">
                            <i class="${icon}"></i>
                            <div class="content">
                                <div class="title">${title}</div>
                                <span>${text}</span>
                            </div>
                            <i class="fa-solid fa-xmark" onclick="(this.parentElement).remove()"></i>
                        </div>`;
                    notifications.appendChild(newToast);
                    newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
                }

                if (successMessage) {
                    createToast('success', 'fa-solid fa-circle-check', 'Success', successMessage);
                }

                if (errorMessage) {
                    createToast('error', 'fa-solid fa-circle-exclamation', 'Message', errorMessage);
                }
            });
        </script>

</body>
</html>