<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafia | Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- <link rel="stylesheet" href="style.css"> --}}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: url(../image/cursor.png), auto;
}
body{
    /* background:linear-gradient(#5672cf,#0098B8); */
    background:linear-gradient(#0c0e12,#131924);
    overflow-x: hidden;
    min-height: 100vh; /* Ensure the body covers at least the full viewport height */
}

body::-webkit-scrollbar{
    display: none;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
.parallax img {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    /* colour here */
    background: #131924;
    padding: 100px;
}
.sec h2{
    font-size: 3em;
    color: #fff;
}
.sec .content-text {
    padding-top: 30px;
    font-size: 1em;
    color: #ffffffc9;
    font-weight: 300;
}



.title_dec{
    margin-top: 5%;
    font-size: 1.2rem;
    color: #6070ff;
    font-weight: 600;
    transition: .4s ease;
}


.contentfont{
    text-align:justify;
    word-break:keep-all;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    margin-top: 80px;
}

.image-content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  transition: 0.1s ease;
}
.image-content:hover{
    transform: translateY(-10px);
}

/* card */
.wrapper-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 6%;
}
.container {
    margin-top: -250px;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 150px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #ffffff;
    /* text-shadow: #000000; */
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./image/c1.jpg');
}
.card[for="c2"] {
    background-image: url('./image/c2.jpeg');
}
.card[for="c3"] {
    background-image: url('./image/c3.jpg');
}
.card[for="c4"] {
    background-image: url('./image/c4.jpg');
}

        @keyframes slideIn {
            from {
                transform: translateX(100%);
                opacity: 0;
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slideOut {
            from {
                transform: translateX(0);
                opacity: 1;
            }
            to {
                transform: translateX(100%);
                opacity: 0;
            }
        }

        .alert {
            top: 122px;
            right: 30px;
            text-align: center;
            padding: 15px;
            width: fit-content;
            background-color: #6375ffb5;
            color: white;
            border-radius: 5px;
            z-index: 2;
            padding: 20px;
            position: fixed;
            right: 20px;
            animation: slideIn 0.5s forwards, slideOut 0.5s 4.5s forwards; /* Slide in and out */
        }

        .alert.success {
            background-color: #4CAF50;
        }
    </style>


    <style>
.notifications {
    position: fixed;
    top: 100px;
    right: 5px;
    z-index: 101;
}

.toast {
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: linear-gradient(to right, #0abf3055, #22242f 30%);
    animation: show 0.3s ease 1 forwards;
}

.toast i {
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.toast .title {
    font-size: x-large;
    font-weight: bold;
}

.toast span, .toast i:nth-child(3) {
    color: #fff;
    opacity: 0.6;
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.toast::before {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards;
}

@keyframes timeOut {
    to {
        width: 0;
    }
}

.toast.error {
    --color: #f24d4c;
    background-image: linear-gradient(to right, #f24d4c55, #22242F 30%);
}

.toast.warning {
    --color: #e9bd0c;
    background-image: linear-gradient(to right, #e9bd0c55, #22242F 30%);
}

.toast.info {
    --color: #3498db;
    background-image: linear-gradient(to right, #3498db55, #22242F 30%);
}

#preloader{
        background: #000 url(video/preloader.gif) no-repeat center;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 104;
    }


</style>
</head>
<body>
    <header class="nav">
        <div class="nav-logo">
            <p>Mafia</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active" onmousedown="error.play();">Home</a></li>
                <li><a href="./login" class="link" onmousedown="audio.play();">Services</a></li>
                <li><a href="./creators" class="link" onmousedown="audio.play();">Creators</a></li>
                <li><a href="./about" class="link" onmousedown="audio.play();">About</a></li>
            </ul>
        </div>
    </header>
    <div class="notifications"></div>
    {{#if successMessage}}

    {{/if}}

    {{#if errorMessage}}

    {{/if}}

    <section class="parallax">
        
        <!-- image -->
         <img src="image/hill1.png" id="hill1">
         <img src="image/hill4.png" id="hill4">
         <img src="image/hill2.png" id="hill2">
         <img src="image/plant.png" id="plant">
         <img src="image/hill3.png" id="hill3">
         <img src="image/hill5.png" id="hill5">

         <!-- headline text -->
         <h2 id="text">Los Santos</h2>
         

    </section>

    <section class="sec">
        <h2>Mafia - UnderWorld Web </h2>
        
        <div class="content-text">
            
            <div class="wrapper-card">
                <div class="container">
                    <input type="radio" name="slide" id="c1" checked>
                    <label for="c1" class="card">
                        <div class="row">
                            <div class="icon">1</div>
                            <div class="description">
                                <h4>Underworld Weapons</h4>
                                <p>Mafia has so much to offer -
                                Buy/Sell weapons</p>
                            </div>
                        </div>
                    </label>
                    <input type="radio" name="slide" id="c2" >
                    <label for="c2" class="card">
                        <div class="row">
                            <div class="icon">2</div>
                            <div class="description">
                                <h4>Luxury Cars</h4>
                                <p>Add exclusive cars to your collections</p>
                            </div>
                        </div>
                    </label>
                    <input type="radio" name="slide" id="c3" >
                    <label for="c3" class="card">
                        <div class="row">
                            <div class="icon">3</div>
                            <div class="description">
                                <h4>Demanding Property</h4>
                                <p>Villa/Building/Office/Bunglow - One time deal </p>
                            </div>
                        </div>
                    </label>
                    <input type="radio" name="slide" id="c4" >
                    <label for="c4" class="card">
                        <div class="row">
                            <div class="icon">4</div>
                            <div class="description">
                                <h4>Hire Mafia(s)</h4>
                                <p>Wanna do contract ? Find mafias here</p>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="contentfont">
                <div class="main-cont">
                    <p class="title_dec">#１ Luxury Cars</p> <br>
                    In Los Santos, your ride is your statement.  Whether you're cruising the streets in a sleek sports car, tearing up the off-road in a rugged 4x4, or just trying to blend in with a classic muscle car, we've got the perfect vehicle for you.
                    Just like Michael, Franklin, and Trevor, you can upgrade your ride, adding the speed, power, and style you need to make a statement on the streets of Los Santos. 
                    So come on down, and find the car.<br><br>
                </div>
                <div class="main-cont1">
                    <img src="image/carimg.png" class="image-content" alt="">
                </div>
            </div>

            <div class="contentfont">

                <div class="main-cont1">
                    <img src="image/houseimg.png" class="image-content" alt="">
                </div>
                <div class="main-cont">
                    <p class="title_dec">#２ Property</p> <br>
                    In Los Santos, your ride is your statement.  Whether you're cruising the streets in a sleek sports car, tearing up the off-road in a rugged 4x4, or just trying to blend in with a classic muscle car, we've got the perfect vehicle for you.
                    Just like Michael, Franklin, and Trevor, you can upgrade your ride, adding the speed, power, and style you need to make a statement on the streets of Los Santos. 
                    So come on down, and find the car.<br><br>
                </div>
            </div>

            <div class="contentfont">
                <div class="main-cont">
                    <p class="title_dec">#３ Guns</p> <br>
                    In Los Santos, your ride is your statement.  Whether you're cruising the streets in a sleek sports car, tearing up the off-road in a rugged 4x4, or just trying to blend in with a classic muscle car, we've got the perfect vehicle for you.
                    Just like Michael, Franklin, and Trevor, you can upgrade your ride, adding the speed, power, and style you need to make a statement on the streets of Los Santos. 
                    So come on down, and find the car.<br><br>
                </div>
                <div class="main-cont1">
                    <img src="image/gunsimg.png" class="image-content" alt="">
                </div>
            </div>

            <div class="contentfont">

                <div class="main-cont1">
                    <img src="image/bikeimg.png" class="image-content" alt="">
                </div>
                <div class="main-cont">
                    <p class="title_dec">#４ Bikes</p> <br>
                    In Los Santos, your ride is your statement.  Whether you're cruising the streets in a sleek sports car, tearing up the off-road in a rugged 4x4, or just trying to blend in with a classic muscle car, we've got the perfect vehicle for you.
                    Just like Michael, Franklin, and Trevor, you can upgrade your ride, adding the speed, power, and style you need to make a statement on the streets of Los Santos. 
                    So come on down, and find the car.<br><br>
                </div>
            </div>

            
        </div>
    </section>


    <div id="preloader"></div>

    <script>
        var loader = document.getElementById('preloader');
         
         window.addEventListener("load", function(){
            loader.style.display = "none";
         })
    </script>

    <script>
        
        let text = document.getElementById('text');
            // let leaf = document.getElementById('leaf');
        let hill1 = document.getElementById('hill1');
        let hill4 = document.getElementById('hill4');
        let hill3 = document.getElementById('hill3');
        let hill5 = document.getElementById('hill5');
        let hill2 = document.getElementById('hill2');

        window.addEventListener('scroll', () => {
            let value = window.scrollY;
        
            text.style.marginTop = value * 2.5 + 'px';
            // leaf.style.top = value * -1.5 +'px';
            // leaf.style.left = value * 1.5 +'px';
            hill5.style.left = value * 1 +'px';
        
            hill3.style.left = value * 1.5 +'px';
        
            hill4.style.left = value * -1.5 +'px';
        
            hill2.style.left = value * -1 +'px';
        
            // hill1.style.top = value * 1.5 +'px';
        })
    </script>

    <script>
        var audio = new Audio();
        audio.src='audio/click.mp3';
        var error = new Audio();
        error.src = 'audio/error.mp3';
    </script>


            <script>
            document.addEventListener("DOMContentLoaded", function() {
                const notifications = document.querySelector('.notifications');
                const successMessage = "{{successMessage}}";    
                const errorMessage = "{{errorMessage}}";

                function createToast(type, icon, title, text) {
                    let newToast = document.createElement('div');
                    newToast.innerHTML = `
                        <div class="toast ${type}">
                            <i class="${icon}"></i>
                            <div class="content">
                                <div class="title">${title}</div>
                                <span>${text}</span>
                            </div>
                            <i class="fa-solid fa-xmark" onclick="(this.parentElement).remove()"></i>
                        </div>`;
                    notifications.appendChild(newToast);
                    newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
                }

                if (successMessage) {
                    createToast('success', 'fa-solid fa-circle-check', 'Success', successMessage);
                }

                if (errorMessage) {
                    createToast('error', 'fa-solid fa-circle-exclamation', 'Message', errorMessage);
                }
            });
        </script>


</body>
</html>